<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Data Engineering Test</title>
</head>
<body>
    <h2>Data histogram</h2>
    <div id="histogram"></div>

    <h2>Entities number</h2>
    <div id="diagram_simple"></div>

    <h2>Stacked Bar Chart</h2>
    <div id="stacked_bar_chart"></div>

    <script src="https://d3js.org/d3.v4.js"></script>
     <script type="text/javascript" src="/js/histogram.js"></script>
    <script type="text/javascript" src="/js/diagram_simple.js"></script>
    <script type="text/javascript" src="/js/stacked_bar_chart.js"></script>
</body>
</html>